body {
    background-color: #DDDDDD;
}

.container1 {
    background-color: #DDDDDD;
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.box1 {
    background: white;
    width: 112px;
    height: 70px;
    margin-right: 92px;
    margin-bottom: 6px;
}

.box2 {
    background: white;
    width: 105px;
    height: 70px;
    margin-left: 92px;
    margin-bottom: 6px;
}

#img1 {
    background-image: url("../S118home.jpg");
    background-size:contain;
}

#img2 {
    background-image: url("../Dalianhome.jpg");
    background-size:contain;
}


h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 202%;
    font-weight: 100;
    margin-bottom: 21px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 130%;
    word-spacing: 67px;
    margin-top: 15px;
}

.container2 {
    background-color: #DDDDDD;
    width: 600px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    
    

}

.box3 {
    background-color: gray;
    width: 600px;
    height: 2px;
    
}

.container3 {
    background-color: #DDDDDD;
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}