body {
    background-color: lightgray;
}

.container1 {
    background-color: lightgray;
    width: 800px;
    height: 220px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 260%;
    color: #236CC4;
    font-weight: 500;
    margin-left: 41%;
    margin-bottom: 15px;
    
    
}

.container2 {
    background-color: lightgray;
    width: 800px;
    height: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box1 {
    background-color: #236CC4;
    width: 800px;
    height: 2px;
}

.container7 {
    background-color: lightgray;
    width: 800px;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 140%;
    color: #236CC4;
    font-weight: 500;
    margin-left: 30.1%;
    margin-top: 15px;
    
}


.container3 {
    background-color: lightgray;
    width: 800px;
    height: 550px;
    margin: auto;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.box2 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box3 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box4 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box5 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box6 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box7 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box8 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box9 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box10 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box11 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box12 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box13 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box14 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box15 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box16 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box17 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box18 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box19 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box20 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

.box21 {
    background: white;
    width: 144px;
    height: 90px;
    margin: auto;
}

#img1 {
    background-image: url("../e1.jpg");
    background-size:contain;
}

#img2 {
    background-image: url("../e2.jpg");
    background-size:contain;
}

#img3 {
    background-image: url("../e3.jpg");
    background-size:contain;
}

#img4 {
    background-image: url("../e4.jpg");
    background-size:contain;
}

#img5 {
    background-image: url("../e5.jpg");
    background-size:contain;
}

#img6 {
    background-image: url("../e6.jpg");
    background-size:contain;
}

#img7 {
    background-image: url("../e7.jpg");
    background-size:contain;
}

#img8 {
    background-image: url("../e8.jpg");
    background-size:contain;
}

#img9 {
    background-image: url("../e9.jpg");
    background-size:contain;
}

#img10 {
    background-image: url("../e10.jpg");
    background-size:contain;
}

#img11 {
    background-image: url("../e11.jpg");
    background-size:contain;
}

#img12 {
    background-image: url("../e12.jpg");
    background-size:contain;
}

#img13 {
    background-image: url("../e13.jpg");
    background-size:contain;
}

#img14 {
    background-image: url("../e14.jpg");
    background-size:contain;
}

#img15 {
    background-image: url("../e15.jpg");
    background-size:contain;
}

#img16 {
    background-image: url("../e16.jpg");
    background-size:contain;
}

#img17 {
    background-image: url("../e17.jpg");
    background-size:contain;
}

#img18 {
    background-image: url("../e18.jpg");
    background-size:contain;
}

#img19 {
    background-image: url("../ees.jpg");
    background-size:contain;
}

#img20 {
    background-image: url("../e20.jpg");
    background-size:contain;
}
 
.container4 {
    background-color: lightgray;
    width: 800px;
    height: 160px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 135%;
    color: #236CC4;
    margin-left: 36.7%;
    font-weight: 100;
    margin-bottom: 14px;
}

.box22 {
    background: white;
    width: 800px;
    height: 500px;
    display: flex;
    margin: auto;
}

#img21 {
    background-image: url("../S118.png");
    background-size:contain;
}

.container5 {
    background-color: lightgray;
    width: 800px;
    height: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 165%;
    color: #236CC4;
    margin-left: 33%;
    font-weight: 100;
    margin-bottom: 2px;
    margin-top: 38px;
}

.container6 {
    background-color: lightgray;
    width: 420px;
    height: 230px;
    margin: auto;
    display: flex;  
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 92%;
    color: #236CC4;
    font-weight: 100;
    margin-bottom: 14px;
    margin-top: 10px;
}

.box23 {
    background: white;
    width: 800px;
    height: 533px;
    display: flex;
    margin: auto;
}

#img22 {
    background-image: url("../p1.jpg");
    background-size:contain;
}

.box24 {
    background: white;
    height: 1200px;
    width: 800px;
    display: flex;
    margin: auto;
}

#img23 {
    background-image: url("../ppp.jpg");
    background-size:contain;
}

.box25 {
    background: white;
    height: 1200px;
    width: 800px;
    display: flex;
    margin: auto;
}

#img24 {
    background-image: url("../p3.jpg");
    background-size:contain;
}

.box26 {
    background: white;
    width: 800px;
    height: 533px;
    display: flex;
    margin: auto;
}

#img25 {
    background-image: url("../prun.jpg");
    background-size:contain;
}





